body{
  background-color: grey;
}
#myDiv{
  text-align: center; 
  margin-top: 75px; 
}
li {
  list-style-type: none;
}
.flexsearch-wrapper {
  height: auto;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  margin-right: auto; 
  margin-left: auto;
  position: center;
}

.flexsearch-form {
  overflow: hidden;
  position: relative;
}

.flexsearch-input-wrapper {
  padding: 0 66px 0 0;
  overflow: hidden;
}

.flexsearch-input {
  width: 100%;
}

.flexsearch {
  padding: 10px;
}

.flexsearch-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  width: 100%;
  padding: 0 46px 0 10px;
  border-color: black;
  border-radius: 35px;
  border-style: solid;
  border-width: 5px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch-submit {
  position: absolute;
  right: 0;
  top: 5px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-right: 5px;
  background: transparent;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch-input:focus {
  outline: none;
  border-color: black;
}

.flexsearch-input:focus.flexsearch-submit {
  color: black;
}

.flexsearch-submit:hover {
  color: black;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: black;
}

input:-moz-placeholder {
  color: black;
}

.h1 {
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

/*fonts fonts fonts fonts fonts fonts fonts fonts fonts*/
@font-face {
    font-family:'Walkway_Oblique_UltraBold';
    src: url('../fonts/Walkway_Oblique_UltraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p, ul, li, td, div { 
  font-family: Walkway_Oblique_UltraBold;
  font-variant: small-caps;
}
@font-face {
    font-family:'Walkway_SemiBold';
    src: url('../fonts/Walkway_SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
  font-family: Walkway_SemiBold;
  font-variant: small-caps;
}
